<app-header></app-header>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <!-- Barre latérale -->
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 custom-bg">
            <div class="d-flex flex-column align-items-start px-3 pt-2 text-white min-vh-100">
                <a class="d-flex align-items-center pb-3 mb-md-0 text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Bienvenue, DRH</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start" id="menu">
                    <li>
                        <a [routerLink]="[]" fragment="listeCandidats" class="nav-link px-0 align-middle d-flex align-items-center text-white">
                            <i class="fs-4 bi bi-person-check me-2"></i>
                            <span>Consulter la liste des candidats sélectionnés</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="[]" fragment="arretIndividuel" class="nav-link px-0 align-middle d-flex align-items-center text-white">
                            <i class="fs-4 bi bi-file-earmark-pdf me-2"></i>
                            <span>Établir un arrêté individuel</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="[]" fragment="arretCollectif" class="nav-link px-0 align-middle d-flex align-items-center text-white">
                            <i class="fs-4 bi bi-file-earmark-pdf me-2"></i>
                            <span>Établir un arrêté collectif</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Contenu principal -->
        <div class="col py-3" id="content-area">
            <div id="listeCandidats" class="content-section">
                <h3>Liste des Candidats Sélectionnés</h3>
                <p>Interface pour consulter la liste des candidats sélectionnés.</p>

                <!-- Tableau des candidatures sélectionnées -->
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date Dépôt</th>
                            <th>Statut</th>
                            <th>Date Début</th>
                            <th>Date Fin</th>
                            <th>Destination</th>
                            <th>Cohorte</th>
                            <th>PER</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let candidature of candidatures">
                            <td>{{ candidature.dateDepot | date }}</td>
                            <td>{{ candidature.statut }}</td>
                            <td>{{ candidature.dateDebut | date }}</td>
                            <td>{{ candidature.dateFin | date }}</td>
                            <td>{{ candidature.destination }}</td>
                            <td>{{ candidature.cohorteAnnee }}</td>
                            <td>{{ candidature.personnelNom }} {{ candidature.personnelPrenom }}</td>
                            <td>
                                <button class="voir" [routerLink]="['/candidature-details-view', candidature.id]">
                                    Voir détails
                                  </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="arretIndividuel" class="content-section">
                <h3>Établir un Arrêté Individuel</h3>
                <p>Interface pour établir un arrêté individuel pour un candidat.</p>
            </div>

            <div id="arretCollectif" class="content-section">
                <h3>Établir un Arrêté Collectif</h3>
                <p>Interface pour établir un arrêté collectif pour plusieurs candidats.</p>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>