

    <header class="header">
        <div class="header-container">
            <img src="logouasz.png" alt="Logo UASZ" class="logo">
            <h1 class="title">Université <br>Assane Seck <br>De Ziguninchor</h1> <hr class="line-verticale"> <h2 class="title2">Platforme des  Voyages d'Etudes      <br>  Et Missions du PER</h2>
            <div class="buttons">
                <a class="btn"routerLink="/reboot" >Réinitialiser</a>
               <a class="btn btn-primary" routerLink="/authentification"> Connexion</a>
                
                
                
            </div>
            
              
        </div>
    </header>
<br><br><br>
 

    <main class="main-content">

        
        <div class="gauche">
            
            <h2>Bienvenue  <br>sur la plateforme de gestion des voyages d'études <br> et missions  du PER de l'UASZ</h2> <br>
            <div class="buttons2">
                <a class="btn"routerLink="/reboot" >Réinitialiser</a>
                <a class="btn btn-primary" routerLink="/authentification"> Connexion</a>
                 
            </div> <br> <br>
            <div class="card">
                <div class="icon">
                  <img src="calendaricon.png" alt="Calendar Icon">
                </div>
                <p class="text">
                  La période pour le dépôt des voyages d’étude est
                  <br>
                  du <span class="highlight">2 décembre 2024(backend)</span> au <span class="highlight">31 mars 2025(backend)</span>.
                </p>
              </div>
        </div>
        <div class="droite">
            <img src="imvoya.png" alt="Illustration" class="main-image">

        </div>
        <div class="cond-part">

            <h1 class="title-cond"><br>Conditions pour aller en voyage d'études </h1>  <hr class="line-horizontale">
            <div class="gauche2">
                <img src="passport.png" alt="Illustration" class="main-image2">
            </div>
            <div class="droite2">

                <h2>Pour les nouveaux enseignants :</h2>
        <ul>
            <li>Être titulaire et avoir reçu <span class="highlight">l'arrêté de titularisation</span>.</li>
            <li>Fournir des informations sur <span class="highlight">le lieu</span> et <span class="highlight">la période</span> du voyage d'étude.</li>
        </ul>
        
        <h2>Pour les anciens enseignants :</h2>
        <ul>
            <li>Présenter les justificatifs du précédent voyage (<span class="highlight">carte d’embarquement</span>, destination réelle, dates de départ et de retour).</li>
            <li>Déposer <span class="highlight">le rapport</span> du dernier voyage d'études.</li>
            <li>Fournir des informations sur <span class="highlight">le lieu</span> et <span class="highlight">la période</span> du voyage d'étude.</li>
        </ul>

            </div>

        </div>

      
    
    </main>
    <footer class="footer">
        <br>
        © DISI/UASZ. Tous droits réservés. Pour toute assistance, Merci de nous contacter à l'adresse email ?disi.zig.univ.sn   ou par Tél : +221 779550935
    </footer>
  

   
    
