.custom-bg {
    background-color: #1b3f34; /* Couleur de fond personnalisée (gris clair) */
}
.nav-link i {
    color: white !important; /* Icônes en blanc */
}

.nav-link {
    color: white !important; /* Texte en blanc */
}

/* Effet de survol (hover) */
.nav-link:hover {
    background-color: white !important; /* Fond blanc */
    color: black !important; /* Texte noir */
}

.nav-link:hover i {
    color: black !important; /* Icônes noires */
}
.content-section {
    display: none;
  }


  /* candidature-details.component.css */
.btn-secondary {
    background-color: #1b3f34; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border: none; /* Supprimer la bordure */
    padding: 8px 16px; /* Espacement interne */
    border-radius: 4px; /* Coins arrondis */
    cursor: pointer; /* Curseur en forme de main */
}

.btn-secondary:hover {
    background-color: #5a6268; /* Couleur de fond au survol */
}
.voir{
    background-color: #1b3f34;
    color: white;
    border-radius: 3px;
}